@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #ddbea9;
    font-family: 'Khula', sans-serif;
}

h1 {
    color: rgb(100, 27, 27);
}

.button {
    height: 10vh;
    width: 30vw;
    border: 1px solid rgb(100, 27, 27);
    background: rgb(136, 31, 31);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 30px;
    font-size: medium;
    margin-top: 20px;
}

.button:hover,
.button:active {
    background: rgb(163, 43, 43);
}

.button:focus {
    outline: none;
}

.button:disabled {
    background-color: lightgrey;
}

.form-inputs {
    display: flex;
}

.form-group {
    margin: 2px 10px;
    display: inline-block;
}

.form-group label {
    text-align: left;
    display: block;
}

.form-button {
    display: block;
}

.error {
    display: none;
    margin-top: 7px;
    color: red;
}

.form-input {
    height: 7vh;
    width: 20vw;
    background: #ccc;
    border: 2px solid rgb(100, 27, 27);
    border-radius: 20px;
    font-size: 2rem;
    text-align: center;
    background-color: #a68a64;
    cursor: pointer;

}

.form-input:focus {
    outline: none;
}