#modalBtn {
    background-color: orange;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal-content {
    font-size: 20px;
    background-color: #a68a64;
    margin: 20% auto;
    width: 40vw;
    padding: 2%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.closeBtn {
    float: right;
    font-size: 30px;
}

.moda-footer {
    display: flex;
    justify-content: space-between;
}

.moda-footer button {
    width: auto;
    height: 7vh;
}